html, body {
    height: 100%;
    width: 100%;
    background-color: white;
   color: black;
}

.button{
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    /* border: 2px solid black; */
    border-style: none;
    border-radius: 9px;
    cursor: pointer;
}

.button:hover {
  color: white;
  background-color: rgb(201, 96, 25);
} 

.row{
    margin: 8px 0;
}

.row input{
    width: 291px;
    font-size: 48px;
    margin: 0;
    padding: 10px 0px;
    /* border: 2px solid black; */
    /* border-radius: 5px; */
    height: 118px;
    border: none;
}

.dark-mode {
    background-color: black;
    color: white;
  }

  .darkmode {
    margin-left: 70px;
  }

  .maincontainer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    width: 329px;
    border-radius: 41px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
    
  }

  .bottom-slide{
    margin: 3px;
    width: 88px;
    height: 5px;
    background:  black;

  }

  hr {
    margin-bottom: 14px;
  }
